*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    font-family: italics;
}
.title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 70px;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
 
}
.hussy img{
position: absolute;
width: 40px;
left: 15%;
top: 20%;
background-color: blue;
padding: 30%;

}
footer{
    text-decoration-style:italic;
    text-align: center;
    color:lightblue;
}